@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
}

/* variables start */
:root
{
    --gray:#c6d7eb;
     --black: #000;
     --white: #fff;
     --bleu:#408ec6;
     --marron:#7a2048;
     --indigo:#1e2761;
     --violet:#320d3e;
     --border: .2rem solid var(--black);
}

/* ===================================section home================================= */
.home
{
     min-height: 100vh;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 2rem;
     background: var(--indigo);
background-image: linear-gradient(43deg, #330867 0%, #C850C0 46%, var(--gray) 100%);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content1{
    width:70rem;
}
.content1 .tle{
    font-size:2rem;
    margin:1rem 4rem;
}
.content1 .title0{
    font-size: 3rem;
    margin:2rem 0rem;
}
.content1 .para{
    font-size: 2.5rem;
    line-height: 3rem;
    font-family:pristina;
}
.content2{
    width:40rem;
    height:40rem;
    background-image:url("/img/3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40rem 40rem;
    animation:slide 20s infinite;
}
@keyframes slide{
    20%{
        background-image:url("/img/7.png");  
    }
    40%{
        background-image:url("/img/4.png");  
    }
    60%{
        background-image:url("/img/10.png");  
    }
    80%{
        background-image:url("/img/8.png");  
    }
    100%{
        background-image:url("/img/11.png");  
    }
}


/* ========================================section appointment======================================= */
.appoint{
  background:#350969;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form{
    width:40rem;
background: rgba(251, 247, 247, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(251, 247, 247, 0.9);
}
.title3{
    font-size:2.5rem;
    color:var(--white);
    text-align: center;
    padding:1rem;
    margin:1rem;
}
.ule .lii{
    list-style: none;
    margin:2rem 3rem;
}
.ule .lii input{
    padding:1rem;
    border:0;
    border-bottom:2px solid white;
    width:35rem;
    background:transparent;
    color:var(--white);
    font-size:1.6rem;
}
.ule .lii select{
    padding:1rem;
    border:0;
    border-bottom:2px solid white;
    width:35rem;
    background:transparent;
    color:var(--gray);
    font-size:1.6rem;
}
::placeholder{
    color:var(--white);
    font-size:1.6rem;
}
.box{
    width:70rem;
}
.title4{
    margin:5rem 2rem;
    text-align:center;
    font-size:3rem;
    color:var(--white);
}
.para1{
    margin:0rem 5rem;
    font-size:2.8rem;
    color:var(--white);
    font-family:pristina;
    letter-spacing: 5px;
}

/* ==================================section coiffure recente===================== */

.title5{
    font-size:3rem;
    text-align:center;
}
.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:2rem 8rem;
   
}
.FlexContainer div {
    width: 250px;
    height: 220px;
    margin: 4rem 1rem;
    border:1px solid var(--indigo);
}
.FlexContainer div img{
    height:218px;
    width:248px;
}
/* ==================================section book===================================== */
.book{
    background:var(--marron);
    min-height: 10vh;
}
.title6{
    text-align: center;
    font-size:3rem;
    color:var(--white);
}
.flexbtn{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}
.btn-contact{
padding:1rem 3rem;
background:var(--bleu);
color:var(--white);
font-size:1.5rem;
border-radius:.5rem;
}
/* ===============================section vide============================ */
.vide{
    min-height: 5vh;
}