@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     text-decoration: none;
}

/* variables start */
:root
{
    --gray:#c6d7eb;
     --black: #000;
     --white: #fff;
     --bleu:#408ec6;
     --marron:#7a2048;
     --indigo:#1e2761;
     --violet:#320d3e;
     --border: .2rem solid var(--black);
}
/* ============================section service============================= */
.services{
    width: 100%;
    height:75%;
    min-height: 80vh;
    background-image:url('/img/c.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.title{
    font-size:3rem;
    position:relative;
    top:35rem;
    left:28rem;
}
.link{
    color:var(--violet);
}
.linke{
    color:#0552AE;
}


/* =====================================section liste service========================== */
.list{
    background:var(--white);
}
.title1{
    text-align:center;
    font-size:3rem;
    letter-spacing: 0.5rem;
    font-weight:800;
}
table{
    margin-left:20rem;
    margin-top:2rem;
}
table thead{
    background:var(--indigo);
    color:ivory;
}
table thead th{
    padding:2rem 10rem;
    font-size: 1.6rem;
    border-radius:1rem;
}
table tbody td{
    text-align: center;
    padding:1.3rem 10rem;
    font-size:1.5rem;
    font-weight:600;
    border:0;
    border-bottom:2px solid var(--indigo);
}